* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #212529;
  line-height: 1.5;
  /* border-bottom: 10px solid rgb(255, 115, 0); */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #212529ef;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(255, 115, 0);
  padding-top: 2px;
  padding-bottom: 2px;
  z-index: 100;
}

.spacer {
  width: 100%;
  height: 95px;
}

nav {
  margin-right: 112px;
}

.nav-a {
  margin-right: 24px;
  font-size: 14px;
}

.nav-a:last-child {
  margin-right: 0;
}

.nav-a:link {
  color: rgba(255, 255, 255, 0.842);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-a:visited {
  /* color: #777; */
  color: #fff;
}

.nav-a:hover {
  color: rgb(255, 115, 0);
  transition: 0.5s;
}

.nav-a:active {
}

.name-logo {
  width: 18%;
  height: auto;
  margin-left: 64px;
}

.features-icon {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
}

.container {
  width: 90%;
  margin: auto;
}

.text-on-image {
  position: relative;
}

.header-text {
  margin: auto;
  width: 750px;
  text-align: center;
  margin-top: 64px;
}

.abstract-box {
  width: 750px;
  margin: auto;
}

.img-abstract {
  width: 750px;
  height: auto;
  left: 0;
  bottom: 1px;
  position: absolute;
  opacity: 0.6;
}

.header-title {
  font-size: 56px;
  font-weight: 300;
  padding-bottom: 16px;
  position: relative;
  padding: 16px 30px;
  margin-bottom: 32px;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0, 0, 0, 0.02);
  letter-spacing: 1px;
}

/* span {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: rgb(255, 115, 0);
} */

.header-desc {
  color: #495057b2;
  font-size: 16px;
  padding: 0 90px;
  margin-bottom: 32px;
  letter-spacing: 1px;
  font-weight: 100;
}

.btn {
  border: none;
  text-decoration: none;
  padding: 14px 22px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 100px;
  display: inline-block;
  background: linear-gradient(#ff5900, #c21e58);
  position: relative;
  z-index: 1;
  transition: color 0.5s ease-out;
}
.btn:before {
  background: #91a5f4;
  background: linear-gradient(#c21e58, #5c1397);
  border-radius: 100px;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.btn:hover:before {
  opacity: 1;
}

.video-player {
  width: 90%;
  margin: auto;
  margin-top: 128px;
}

.video {
  width: 100%;
  box-shadow: rgba(255, 115, 0, 0.788) 0px 3px 6px,
    rgba(0, 0, 0, 0.4) 0px 3px 6px;
  border-radius: 22px;
}

.description {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-top: 132px;
  margin-bottom: 80px;
}

.desc-title {
  /* background: -webkit-linear-gradient(#ff5100, #ff4af6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 16px;
  position: relative;
  padding: 16px 30px;
  margin-bottom: 32px;
  border-bottom: 3px solid rgba(255, 115, 0, 0.5);
  border-radius: 22px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: background-position 2s;
}

.pg {
  text-align: start;
  font-weight: 300;
  color: #495057b7;
  line-height: 1.8;
  letter-spacing: 1.2px;
  font-size: 18px;
}

span {
  color: #212529cb;
  font-weight: bold;
}

.scheme-box {
  overflow: scroll;
}

.scheme-5 {
  display: grid;
  grid-template-columns: repeat(6, 500px);
}

.card {
  width: 400px;
  background-color: #1f2124;
  text-align: center;
  margin: 12px 4px;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.6); */
  border-radius: 22px;
}

h3 {
  font-size: 24px;
  margin-top: 48px;
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
  background: -webkit-linear-gradient(hsl(19, 100%, 50%), rgba(255, 0, 180, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-img {
  width: 70%;
  height: auto;
}

.pc {
  text-align: start;
  padding: 0 48px;
  padding-bottom: 18px;
  letter-spacing: 1px;
  line-height: 1.8;
  color: #dee2e6e1;
  font-weight: 100;
}

.card-a {
  font-size: 18px;
  color: inherit;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.card-a {
  background: linear-gradient(to right, rgb(255, 115, 0), #fff),
    linear-gradient(
      to right,
      rgb(255, 115, 0),
      rgba(255, 0, 180, 1),
      rgba(255, 0, 0, 1)
    );
  background-size: 100% 1px, 0 1px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.card-a:hover {
  background-size: 0 3px, 100% 1px;
}
